@import '../styles/consts.scss';

$button-height: 40px;

button, a.button{
  position: relative;
  display: inline-block;

  appearance: none;
  text-decoration: none;
  cursor: pointer;

  color: white;
  font-size: 16px;

  background: $primary;

  border: 0;
  padding: 9px 24px;
  border-radius: 20px;

  transition: box-shadow 300ms;

  i{
    padding: 0 10px;
  }

  &:focus{
    outline: 0;
    box-shadow: 0 0 0px 3px lighten($primary, 30%);
  }

  &:hover{
    opacity: 0.9;
  }

  &:active{
    opacity: 1;
  }

  &.secondary{
    background: transparent;
    border: 1px solid $primary;
    color: $primary;
  }

  &.destructive{
    background: red;
  }

  &.plain{
    background: transparent;
    color: $primary;
  }
}

.button-group{
  display: flex;

  button, a.button{
    position: relative;
    border-radius: 0;
    border-right: 1px solid rgba(transparent, 0.15);

    &:first-child{
      border-radius: $button-height 0 0 $button-height;
    }

    &:last-child{
      border-radius: 0 $button-height $button-height 0;
      border-right: 0;
    }

    &.secondary:first-child{
      border-right: 0px;
    }

    &.secondary:last-child{
      border: 1px solid $primary;
    }
  }
}
