.navbar{
  width: 100%;
  margin: 0px auto 0;
  padding: 0px 24px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: relative;

  a{
    text-decoration: none;
    color: rgba(black,  0.85);
  }

  .logo{
    height: 20px;
    vertical-align: middle;
    margin-top: 18px;
    vertical-align: top;
    padding-left: 16px;
  }

  .title{
    vertical-align: middle;
    font-weight: 500;
  }

  .right{
    float: right;
    a{
      height: 100%;
      display: inline-block;
      padding: 0 16px;
    }
  }
}
